import { Component, OnInit } from '@angular/core';
import { Observable } from 'rxjs';
import { MatDialog } from '@angular/material';
import { Page } from '../../domain/page';
import { {{ entity.name }} } from '../../domain/{{ entity.name|lower }}';
import { {{ entity.name }}Service } from '../../services/{{ entity.name|lower }}.service';
import { {{ entity.name }}EditorComponent } from './{{ entity.name|lower }}.editor.component';

@Component({
  selector: 'app-{{ entity.name|lower }}',
  templateUrl: './{{ entity.name|lower }}.component.html',
  styleUrls: ['./{{ entity.name|lower }}.component.scss']
})
export class {{ entity.name }}Component implements OnInit {

    constructor(public dialog: MatDialog, private {{ entity.name|lower }}Service: {{ entity.name }}Service) {}

    displayedColumns: string[] = [{% for field in fields %}'{{ field.name }}'{% if not loop.last %}, {% endif %}{% endfor %}];

    dataSource$: Observable<Page<{{ entity.name }}>>;

    ngOnInit() {
        this._load();
        this.dialog.afterAllClosed.subscribe(()=>this._load());
    }

    add() {
        this.dialog.open({{ entity.name }}EditorComponent, {
           width: '250px',
           data: {} as {{ entity.name }}
        });
    }

    private _load(){
        this.dataSource$ = this.{{ entity.name|lower }}Service.getAll('');
    }
}
